<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Update User</h1>
<form th:action="@{/user-update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}">
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:field="*{age}">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}">
    <input type="submit" value="Update">
</form>
<a href="/users">Back to list</a>
</body>
</html>